- @page_title = params[:category]
%main.article_list
  .article_list_header
    .container.tag_container
      %span.page_label= "#{params[:category]}に関するお気に入りの記事を発見しよう！"
      %h2.page_title= params[:category]
  .article_list_box
    .container.tag_container
      .container_inner
        .left_box
          %h3.side_bar_heading タグ・ランキング
          = render "share/tag_ranking"
        .right_box
          %h3.contents_heading 新着記事
          .inner.article_list_wrapper
            - @entries.each do |entry|
              .article
                = link_to entry_path(entry), class: "link large_link" do
                  .flex_item
                    .list_left
                      = image_tag avatar(entry.user), size: 50, class: 'author_image'
                    .list_right
                      .list_top
                        %p.article_title= entry.title
                        - entry.tags.each do |tag|
                          %span.tags= tag
                      .list_bottom
                        .list_bottom_left
                          %span.author_name= "by #{entry.user.name}"
                        .list_bottom_right
                          .heart
                            %i.far.fa-heart
                            %span.count= entry.likes.sum(:count)
                          %span.created_at= entry.created_at.strftime("%Y-%m-%d")
