%table.table
  %tr.table_heading
    %th.table_heading_check
      .check_box_inner
        %input{type: "hidden", name: 'authenticity_token', value: form_authenticity_token}
        %input.check#all_checked{type: "checkbox"}
        %label.check_box_label{for: "all_checked"}
    %th.table_heading_title
      記事
      .delete_select_article{data: {mode: params[:mode]}} 選択した記事を削除する
    %th.table_heading_updated_at 更新日
    %th.table_heading_pv PV
    %th.table_heading_good 高評価
    %th.table_heading_comment コメント
    %th.table_heading_edit
  - entries.each_with_index do |entry, idx|
    %tr.table_container{data: {url: edit_entry_path(entry) }}
      %td.table_heading_check
        .check_box_inner
          %input.check.delete_check_box{id: "delete_checked_#{idx}",type: "checkbox", data: {articleid: entry.id}}
          %label.check_box_label{for: "delete_checked_#{idx}"}
      %td.table_container_title= entry.title.truncate(50)
      %td.table_container_updated_at= entry.updated_at.strftime("%Y-%m-%d")
      %td.table_container_pv= entry.respond_to?(:access_analyses) ? entry.access_analyses.count : 0
      %td.table_container_good= entry.respond_to?(:likes) ? entry.likes.sum(:count) : 0
      %td.table_container_comment= entry.respond_to?(:comments) ? entry.comments.count : 0
      %td.table_container_edit
        - if params[:mode] == "public"
          = link_to entry_path(entry), class: "table_container_edit_link edit" do
            %i.fas.fa-arrow-right
        - else
          = link_to edit_entry_path(entry), class: "table_container_edit_link edit" do
            %i.fas.fa-arrow-right
- if @entries && @entries.total_pages > 1
  .paginate.table_paginate
    = link_to_prev_page @entries, "", class: "prev-page"
    - unless @entries.out_of_range?
      .now_page= "#{@entries.current_page}/#{@entries.total_pages}"
    = link_to_next_page @entries, "", class: "next-page"
