.inner
  .user_info
    .user_info_top
      = image_tag gravatar_image(current_user), size: 70
      %h2.name= current_user.name
      %p.uuid= "@#{current_user.uuid}"
    .user_info_bottom
      .more_info
        = link_to "#", class: "more_info_link" do
          .info_name Article
          %p.count= current_user.publics.count
      .more_info
        = link_to follows_list_path, class: "more_info_link" do
          .info_name Follow
          %p.count= current_user.active_follows.count
      .more_info
        = link_to followers_list_path, class: "more_info_link" do
          .info_name Follower
          %p.count= current_user.passive_follows.count
    .setting_user_account
      = link_to "アカウント設定", edit_user_registration_path, class: "edit_user_link"
.inner
  = link_to "アクセス解析", "#{dashboard_path}?period=all", class: "dashboard_link"
  = link_to "記事の管理", dashboard_article_path + "?mode=draft", class: "dashboard_link"
  = link_to "コメント一覧", dashboard_comment_path, class: "dashboard_link"
