- @page_title = "ダッシュボード"

.inner
  .figure
    .box
      %h3.access_count 24時間
      %p.value
        = current_user.day_pv_count
        %span.pv PV
    .box
      %h3.access_count 1週間
      %p.value
        = current_user.week_pv_count
        %span.pv PV
    .box
      %h3.access_count 1ヶ月間
      %p.value
        = current_user.month_pv_count
        %span.pv PV
    .box
      %h3.access_count 全体
      %p.value
        = current_user.all_pv_count
        %span.pv PV
.inner.divide
  .access_analyses
    %h2.access_analyses_heading
      直近30日間のアクセス数
    .graph
      %canvas.chartjs#chartjs
  .access_source
    %h2.access_source_heading 上位のアクセス元
    - if @access_sources.length > 0
      - @access_sources.each do |source|
        .access_source_box
          = link_to source.access_source, source.access_source, class: "access_source_path"
          %span.percent= "#{(source.count.to_f / current_user.week_pv_count.to_f * 100).round} %"
    - else
      .access_not_found
        アクセスデータがありません
.inner
  .access_article
    %h2.access_article_heading
      アクセスが多い記事
    - if @popular_entries.length > 0
      - @popular_entries.each do |entry|
        = link_to entry_path(entry), class: "access_article_link" do
          .flex_item
            %h3.title= entry.title
            %span.pv= "アクセス数：#{entry.pv}pv"
          %span.created_at= entry.created_at.strftime("%Y-%m-%d")
    - else
      .access_not_found
        アクセスデータがありません

  :javascript
    const drawing_chart = (data) => {
      let date = []
      let pvs = []

      for (key in data) {
        date.push(key)
        pvs.push(data[key])
      }

      let chart_canvas = document.getElementById('chartjs').getContext('2d')

      Chart.defaults.global.defaultFontColor = 'rgba(0, 0, 0, 0.54)'
      Chart.defaults.global.defaultFontSize = 12
      let chart = new Chart(chart_canvas, {
        type: "line",
        data: {
          labels: date,
          datasets: [{
            label: "アクセス数",
            data: pvs,
            backgroundColor: [
              'rgba(84, 191, 118, 0.3)'
            ],
            borderColor: [
              'rgb(84, 191, 118)'
            ],
            borderWidth: 1,
            lineTension: 0,
          }]
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
          },
        }
      })
    }

    drawing_chart(gon.chart_data)
