.article_list_wrapper
  - publics.each do |public|
    .article
      = link_to public_path(public.article_token), class: "link large_link" do
        = image_tag gravatar_image(public.user), size: 40, class: "author_image"
        .flex_item
          %p.article_title= public.title
          .tags
            - public.category.split(',').each do |tag|
              %span.tag_name= tag
          .list_bottom
            .list_bottom_left
              %span.author_name= "by #{public.user.name}"
              .thumbs_up
                %i.far.fa-thumbs-up
                %span.count 123
            %span.created_at= public.created_at.strftime("%Y-%m-%d")

- if publics && publics.total_pages > 1
  .paginate
    = link_to_prev_page publics, "", class: "prev-page"
    - unless publics.out_of_range?
      .now_page= "#{publics.current_page}/#{publics.total_pages}"
    = link_to_next_page publics, "", class: "next-page"
