.card_wrapper
  - if posts
    - posts.each do |post|
      .card
        .main_title
          = link_to post.title, post_path(post.uuid)
        .post_info_wrapper
          .post_info
            .author= post.user.name
            .created_at= post.created_at.strftime("%Y-%m-%d")
          - if current_user && post.like_user(current_user.id)
            %i.fas.fa-heart
          - else
            %i.far.fa-heart
  - else
    .noposts
      %h2 記事がありません
      %p 開発したアプリを紹介してコメントをもらおう！
      = link_to "アプリを紹介する", new_post_path
.paginate
  = link_to_prev_page posts, "前のページへ", class: "prev-page"
  = link_to_next_page posts, "次のページへ", class: "next-page"
