.inner.article_list_wrapper
  - publics.each do |public|
    .article
      = link_to public_path(public.article_token), class: "link large_link" do
        .flex_item
          .list_top
            %p.article_title= public.title
            %p.article_content= strip_tags markdown public.content.truncate(180)
            .tags= make_tag public.category
          .list_bottom
            .list_bottom_left
              = image_tag avatar(public.user), size: 20, class: 'author_image'
              %span.author_name= "by #{public.user.name}"
            .list_bottom_right
              .thumbs_up
                %i.far.fa-thumbs-up
                %span.count= public.likes.count
              %span.created_at= public.created_at.strftime("%Y-%m-%d")

- if controller_name != "home" && publics && publics.total_pages > 1
  .paginate
    = link_to_prev_page publics, "", class: "prev-page"
    - unless publics.out_of_range?
      .now_page= "#{publics.current_page}/#{publics.total_pages}"
    = link_to_next_page publics, "", class: "next-page"
