.card_wrapper
  - if publics
    - publics.each do |public|
      .card
        .main_title
          = link_to public.title, public_path(public.article_token)
        .post_info_wrapper
          .post_info
            .author= public.user.name
            .created_at= public.created_at.strftime("%Y-%m-%d")
          - if current_user && public.like_user(current_user.id)
            %i.fas.fa-heart.heart
          - else
            %i.far.fa-heart.heart
  - else
    %p.noposts 記事はありません

- if publics && publics.total_pages > 1
  .paginate
    = link_to_prev_page publics, "", class: "prev-page"
    - unless publics.out_of_range?
      .now_page= "#{publics.current_page}/#{publics.total_pages}"
    = link_to_next_page publics, "", class: "next-page"
