.accompany_btn_index
  .container
    %ul.accompany_btn_list
      %li= link_to "フォロー中", follows_list_path, data: { url: "/follows" }, class: "friend_link"
      %li= link_to "フォロワー", followers_list_path, data: { url: "/followers" }, class: "friend_link"
.container
  - if users.present?
    %ul.user_list_wrapper
      - users.each do |user|
        %li.user_list
          .user
            = image_tag avatar(user), size: 50
            %h2.name
              = link_to user.name, user_path(user), class: "user-blog-link"
          - if current_user.uuid
            .follow_btn{data: {id: user.id}}
              = render "follows/follow", user: user
    - unless users.total_pages == 1
      .paginate
        = link_to_prev_page users, "", class: "prev-page"
        - unless users.out_of_range?
          .now_page= "#{users.current_page}/#{users.total_pages}"
        = link_to_next_page users, "", class: "next-page"

  - else
    %p.user_not_found ユーザーはいません。

:javascript
  const friend_links = document.querySelectorAll('.accompany_btn_list .friend_link')
  for (let i = 0; i < friend_links.length; i++) {
    const link = friend_links.item(i)
    if (link.dataset.url === window.location.pathname) {
      link.classList.add('current')
    }
  }
