%ul.user_list_wrapper
  - users.each do |user|
    %li.user_list
      .user
        = image_tag gravatar_image(user), size: 50
        %h2.name= user.name
      - if current_user.uuid == params[:user_id]
        .follow_btn{data: {id: user.id}}
          = render "follows/follow", user: user
- unless users.total_pages == 1
  .paginate
    = link_to_prev_page users, "", class: "prev-page"
    - unless users.out_of_range?
      .now_page= "#{users.current_page}/#{users.total_pages}"
    = link_to_next_page users, "", class: "next-page"
