%ul.user_list_wrapper
  - users.each do |user|
    %li.user_list
      .user
        = image_tag gravatar_image(user), size: 50
        %h2.name= link_to user.name, user_posts_path(user)
      - if current_user.uuid == params[:user_id]
        .follow_btn{data: {id: user.id}}
          = render "follows/follow", user: user
.paginate
  = link_to_prev_page users, "前のページへ", class: "prev-page"
  = link_to_next_page users, "次のページへ", class: "next-page"
