<header class="share" id="header">
  <div class="container">
    <div class="logo">
      <% if user_signed_in? %>
        <%= link_to "Launch", users_path, data: { "turbolinks" => false } %>
      <% else %>
        <%= link_to "Launch", root_path, data: { "turbolinks" => false } %>
      <% end %>
    </div>
    <div class="header-left">
      <ul>
        <li>
          <% if user_signed_in? %>
            <%= link_to "ホーム", users_path, data: { "turbolinks" => false } %>
          <% else %>
            <%= link_to "ホーム", root_path, data: { "turbolinks" => false } %>
          <% end %>
        </li>
        <li>
          <%= link_to "記事一覧", posts_path, data: { "turbolinks" => false } %>
        </li>
      </ul>
      <%= form_tag posts_path, method: :get do %>
        <%= label_tag do %>
          <i class="material-icons">search
          </i><%= search_field_tag "q", params[:q], placeholder: "記事のタイトルを検索", autocomplete: "off" %>
          <%= submit_tag "検索" %>
        <% end %>
      <% end %>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <button class="new-post">
          <%= link_to "記事を書く", new_post_path, data: { "turbolinks" => false } %>
        </button>
        <div class="user-name-toggle">
          <div class="user-name" id="toggle">
            <%= image_tag gravatar_image(current_user), size: 35 %>
            <span><%= current_user.name %></span>
          </div>
          <div class="toggle-list" id="lists">
            <%= link_to "ダッシュボード", user_path(current_user.id), data: { "turbolinks" => false } %>
            <%= link_to "アカウント設定", edit_user_registration_path, data: { "turbolinks" => false } %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { "turbolinks" => false } %>
          </div>
        </div>
      <% else %>
        <div class="authenticate">
          <button>
            <%= link_to "ログイン", new_user_session_path %>
          </button>
          <button class="signin">
            <%= link_to "アカウント作成", new_user_registration_path %>
          </button>
        </div>
      <% end %>
      <div class="hamburger-menu" id="hamburger">
        <i class="material-icons">menu</i>
      </div>
    </div>
  </div>
</header>
<% if flash[:notice] %>
  <p class="devise-notification notice" id="notification">
    <%= notice %>
  </p>
<% elsif flash[:alert] %>
  <p class="devise-notification alert" id="alert">
  <i class="material-icons clear" id="cls-btn">clear</i>
    <%= alert %>
  </p>
<% end %>
