<div class="posts-list">
<% if objs.present? %>
  <% objs.each do |obj| %>
    <div class="list">
      <%= image_tag gravatar_image(obj.user), size: 50 %>
      <div class="post-title">
        <div class="post-top">
          <h2>
            <%= link_to obj.title, post_path(obj), data: { "turbolinks": false } %>
          </h2>
          <p>
            <%= markdown(obj.content).gsub!(/(<.*?>|&quot;)/, "").truncate(200) %>
          </p>
        </div>
        <div class="post-bottom">
          <div class="left">
            <span class="heart">
              <% if current_user && obj.likes.find_by(user_id: current_user.id) %>
                <i class="material-icons favorite">favorite</i>
              <% else %>
                <i class="material-icons unfavorite">favorite_border</i>
              <% end %>
              <span><%= obj.likes.count %></span>
            </span>
            ・
            <span>
              <%= obj.user.name %>
            </span>
          </div>
          <p>
            <%= obj.created_at.strftime("%Y.%m.%d") %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="noposts">
    <h2>記事がありません</h2>
    <p>開発したアプリを紹介してコメントをもらおう！</p>
    <%= link_to "アプリを紹介する", new_post_path, data: { turbolinks: false } %>
  </div>
<% end %>
</div>
<div class="paginate">
  <%= link_to_prev_page objs, "前のページへ", class: "prev-page", data: { "turbolinks" => false } %>
  <%= link_to_next_page objs, "次のページへ", class: "next-page", data: { "turbolinks" => false } %>
</div>
