#menu.hamburger-menu-list
  %nav
    - if user_signed_in?
      .user-name
        = image_tag gravatar_image(current_user), size: 35
        %br
        %span= current_user.name
      %hr
      = form_tag posts_path, method: :get do
        = text_field_tag "q", params[:q], placeholder: "記事タイトルで検索", autocomplete: "off", id: "field"
        = button_tag do
          %i.fas.fa-search
      .posts-link
        = link_to "ホーム", users_path
        = link_to "記事一覧", posts_path
      .user-link
        = link_to "ダッシュボード", user_path(current_user.id)
        = link_to "アカウント設定", edit_user_registration_path
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      = form_tag posts_path, method: :get do
        = text_field_tag "q", params[:q], placeholder: "記事タイトルで検索", autocomplete: "off", id: "field"
        = button_tag do
          %i.fas.fa-search
      .posts-link
        = link_to "ホーム", root_path
        = link_to "記事一覧", posts_path
      = link_to "ログイン", new_user_session_path
      = link_to "アカウント作成", new_user_registration_path
