- @page_title = "アカウント設定"
%main.authenticate_edit_form
  = render "devise/shared/error_messages", resource: resource
  .box.account_edit
    .inner
      .description_box
        %h2 アカウント編集
        %p.description
          ログインで使用するメールアドレスを変更します。
      .setting_box
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "left-form" }) do |f|
          .field
            = f.label :name
            = f.text_field :name, autofocus: true, required: true
          .field
            = f.label :email
            = f.email_field :email, autofocus: true, required: true, autocomplete: "email"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .actions
            = f.submit "更新", class: "edit_submit"
        .gravatar
          - if current_user.image.filename.present? && current_user.image.file.present?
            = image_tag show_image_user_images_path(current_user), width: 50, height: 50, alt: "user image", class: "avatar"
          - else
            = image_tag gravatar_image(current_user), size: 35, class: "avatar"
          .avatar_setting
            = form_with url: user_images_path(current_user), method: :put, data: {remote: false} do |f|
              = f.file_field :file, accespt: "image/jpeg"
              = f.submit "画像更新"
              = link_to "デフォルトに戻す", user_images_path(current_user), method: :delete

  .box.password_edit
    .inner
      .description_box
        %h2 パスワード編集
        %p.description
          ログインで使用するパスワードを変更します。
      .setting_box
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "center-form" }) do |f|
          .field
            = f.label :current_password
            = f.password_field :current_password, autocomplete: "current-password", required: true
          .field
            = f.label :password
            = f.password_field :password, autocomplete: "new-password", required: true
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", required: true
          .actions
            = f.submit "パスワードを変更", class: "edit_submit"
  .box.account_destroy
    .inner
      .description_box
        %h2 アカウントの削除
        %p.description 削除したアカウントは二度と元に戻せません。
      .setting_box
        .delete_account
          = link_to "削除",
            registration_path(resource_name),
            data: { confirm: "削除したアカウントは二度と元に戻すことができません。\n本当によろしいですか？" },
            method: :delete,
            class: "edit_submit"
:javascript
  var submit = document.getElementById('submit');
  var input = document.querySelectorAll('.field input');

  const move_form_label = (target) => {
    if (target.nodeName === 'INPUT') {
      var field = target.parentNode
      field.classList.add('focus')
    }
  }

  for (var i = 0, len = input.length; i < len; i++) {
    var target = input.item(i)
    if (target.value.length > 0 && target.type !== 'hidden') {
      move_form_label(target)
    }

    target.addEventListener('focus', (e)=>{
      var target = e.target
      move_form_label(target)
    })

    target.addEventListener('blur', (e) => {
      var target = e.target
      if (target.value.length === 0) {
        var field = target.parentNode
        field.classList.remove('focus')
      }
    })
  }
