<% @page_title = "アカウント設定" %>
<div class="user-f-wrapper">
  <div class="container">

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="tab-select">
      <div class="tab" id="t-profile">プロフィール</div>
      <div class="tab" id="t-password">パスワード</div>
      <div class="tab" id="t-destroy">アカウント削除</div>
      <div class="tab-bottom">
        <div class="underline" id="active-tab"></div>
      </div>
    </div>
    <div class="edit">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "left-form" }) do |f| %>
        <div class="f-profile f active" id="profile">
          <div class="field">
            <%= image_tag gravatar_image(current_user), class: "user-image", id: "user-image" %>
            <%= link_to "画像を変更", "https://ja.gravatar.com/", data: {confirm: "画像を変更するには、現在登録中のメールアドレスでGravatarを作成する必要があります。"}, class: "change_image", target: :_blank %>
          </div>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, required: true %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="actions">
            <%= f.submit "更新" %>
          </div>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "center-form" }) do |f| %>
        <div class="f-password f" id="password">
          <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
          </div>

          <div class="field">
            <%= f.label :password do %>
              新しいパスワード
              <% if @minimum_password_length %>
                <span>：<%= @minimum_password_length %>文字以上</span>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", required: true %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation do %>
              新しいパスワードの確認
              <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
            <% end %>
            <p class="correspond-password" id="judge"></p>
          </div>

          <div class="actions">
            <%= f.submit "パスワードを変更", id: "submit", disabled: true, style: "background-color: #E0E0E0" %>
          </div>
        </div>
      <% end %>

      <div class="f-destroy f" id="destroy">
        <div class="de-account">
          <div class="caution">重要：ご確認ください！</div>
          <p>アカウントを削除すると二度と復元することはできません。</p>
        </div>
        <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
<script>
    var new_password = document.getElementById('user_password');
    var new_confirmation_password = document.getElementById('user_password_confirmation');
    var judge = document.getElementById('judge');
    var submit = document.getElementById('submit');

    new_confirmation_password.addEventListener('keyup', function() {
      if (this.value && this.value === new_password.value) {
        judge.textContent = '';
        submit.removeAttribute('disabled');
        submit.style.backgroundColor = '#009688';
      } else {
        judge.textContent = '新しいパスワードと一致させてください。';
        submit.setAttribute('disabled', 'disabled');
        submit.style.backgroundColor = '#E0E0E0';
      }
    });

</script>
