<div class="user-f-wrapper">
  <div class="container">

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="tab-select">
      <div class="tab" id="t-profile">プロフィール</div>
      <div class="tab" id="t-password">パスワード</div>
      <div class="tab" id="t-destroy">アカウント削除</div>
      <div class="tab-bottom">
        <div class="underline" id="active-tab"></div>
      </div>
    </div>
    <div class="edit">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "left-form" }) do |f| %>
        <div class="f-profile f active" id="profile">
          <div class="field">
            <%= image_tag "/images/users/1.png", size: 120, class: "user-image", id: "user-image" %>
            <%= f.label :image_name, class: "user-image-label" do %>
              画像を変更
              <%= f.file_field :image_name, autofocus: true, class: "user-image-field" %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="actions">
            <%= f.submit "更新" %>
          </div>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "center-form" }) do |f| %>
        <div class="f-password f" id="password">
          <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <span>：<%= @minimum_password_length %>文字以上</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワードを変更" %>
          </div>
        </div>
      <% end %>

      <div class="f-destroy f" id="destroy">
        <div class="de-account">
          <div class="caution">重要：ご確認ください！</div>
          <p>アカウントを削除すると二度と復元することはできません。</p>
        </div>
        <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var select_image = document.getElementById('user_image_name');
    select_image.addEventListener('change', function() {
      var user_image = document.getElementById('user-image');
      var reader = new FileReader();
      reader.addEventListener("load", function() {
        user_image.src = reader.result;
      });
      reader.readAsDataURL(select_image.files[0]);
    });




  });
</script>
