- @page_title = @public.title
%main
  .article_box
    .article_box_left
      .inner
        .user_action_btn
          .good_btn
            = render "like", public: @public
          .bookmark_btn
            = render 'bookmarks/bookmark', public: @public
          %a.btn.twitter{href: "http://twitter.com/share?url=#{request.url}"}
            %i.fab.fa-twitter
          %a.btn.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.url}"}
            %i.fab.fa-facebook-f

    .article_box_center
      .inner
        .post_content
          .post_index
            .post_info_wrapper
              .post_info
                .author
                  = image_tag avatar(@public.user), size: 50
                  %span.name
                    = link_to @public.user.name, user_path(@public.user), class: "user-blog-link"
                - if user_signed_in?
                  - unless article_author?(@public.user)
                    %button.follow_btn{data: {id: @public.user.id}}= render "follows/follow", user: @public.user
            %h2.main_title= @public.title
            .article_tags= make_link_tag @public.category
            .post_detail_info
              .post_day
                %span.day= "公開日：#{@public.created_at.strftime("%Y-%m-%d")}"
          .box_content
            != markdown @public.content
          .dots_wrapper
            .dot
            .dot
            .dot
          .article_bottom_box
            .author_name= "Created by #{@public.user.name}"
            .created_at= @public.created_at.strftime("%Y-%m-%d")
            .article_tags= make_link_tag @public.category
            .user_action_bottom
              .good_btn.good_btn_bottom
                = render "like", public: @public
              .share_btn_box
                %span.bookmark_btn
                  = render 'bookmarks/bookmark', public: @public
                %a.btn.twitter{href: "http://twitter.com/share?url=#{request.url}"}
                  %i.fab.fa-twitter
                %a.btn.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.url}"}
                  %i.fab.fa-facebook-f
      .article_box_bottom
        - if Public.get_same_tag_articles(@public).length > 0
          .relative_article_wrapper
            %h3.heading
              関連する記事
            .article_list_wrapper
              - Public.get_same_tag_articles(@public).limit(5).each do |article|
                .article
                  = link_to public_path(article.article_token), class: "link large_link" do
                    .flex_item
                      .list_top
                        %p.article_title= article.title
                        %p.article_content= strip_tags markdown article.content.truncate(160)
                        .tags
                          - article.category.split(',').each do |tag|
                            %span.tag_name= tag
                      .list_bottom
                        .list_bottom_left
                          = image_tag gravatar_image(article.user), size: 20, class: 'author_image'
                          %span.author_name= "by #{article.user.name}"
                        .list_bottom_right
                          .thumbs_up
                            %i.far.fa-thumbs-up
                            %span.count= article.likes.count
                          %span.created_at= article.created_at.strftime("%Y-%m-%d")
        .comment_wrapper
          #comment.inner
            = render "comment", comments: @public.comments

    .article_box_right
      .inner
        .toc_box.box
          .toc
:javascript
  var comment_form = document.getElementById('comment_form')
  var comment_area = document.getElementById('comment_area')
  var comment_submit = document.getElementById('comment_submit')
  var comment_update_btn = document.getElementsByClassName('comment_update_btn')
  var comment_edit_parent_modal = document.getElementsByClassName('comment_edit_parent_modal')

  comment_submit.setAttribute('disabled', 'disabled')
  comment_area.addEventListener('input', ()=>{
    if (comment_area.value.length > 0) {
      comment_submit.removeAttribute('disabled')
    } else {
      comment_submit.setAttribute('disabled', 'disabled')
    }
  })

  for (var i = 0; i < comment_update_btn.length; i++) {
    var update_btn = comment_update_btn.item(i)
    update_btn.addEventListener('click', (e)=>{
      var target = e.target
      var target_data_id  = target.getAttribute('data-id')
      for (var i = 0; i < comment_edit_parent_modal.length; i++) {
        var parent_modal = comment_edit_parent_modal.item(i)
        var parent_modal_data_id = parent_modal.getAttribute('data-id')
        if (target_data_id === parent_modal_data_id) {
          parent_modal.classList.add('show')
          break
        }
      }
    })
  }

  for (var i = 0; i < comment_edit_parent_modal.length; i++) {
    var parent_modal = comment_edit_parent_modal.item(i)
    parent_modal.addEventListener('click', (e)=>{
      var target = e.target
      if (target.classList.contains('show')) {
        target.classList.remove('show')
      }
    })
  }
