- @page_title = @public.title
%main
  .container.post_container
    .post_content
      .post_index
        .post_info_wrapper
          .post_info
            .author
              = image_tag gravatar_image(@public.user), size: 50
              %span.name= @public.user.name
            - if user_signed_in?
              - if other_user?(@public.user.uuid)
                %button.follow_btn{data: {id: @public.user.id}}= render "follows/follow", user: @public.user
              - else
                %ul.edit_list
                  %li= link_to "削除", public_path(@public.article_token), method: :delete, data: { confirm: "本当に削除しますか？一度、記事を削除すると元に戻せなくなります。"}
          .share_btn_wrapper
            .share_for_sns
              %a.twitter{href: "http://twitter.com/share?url=#{request.url}"}
                %i.fab.fa-twitter
              %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.url}"}
                %i.fab.fa-facebook-f
            .heart_wrapper#heart
              = render "like", public: @public
        %h2.main_title= @public.title
        .post_detail_info
          .post_day
            %span.day= "公開：#{@public.created_at.strftime("%Y-%m-%d")}"
      .content
        != markdown @public.content
      .share_btn_wrapper
        .share_for_sns
          %a.twitter{href: "http://twitter.com/share?url=#{request.url}"}
            %i.fab.fa-twitter
          %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.url}"}
            %i.fab.fa-facebook-f
        .heart_wrapper#heart
          = render "like", public: @public
    .comment_wrapper
      #comment
        = render "comment", comments: @public.comments
:javascript
  var comment_form = document.getElementById('comment_form')
  var comment_area = document.getElementById('comment_area')
  var preview_area = document.getElementsByClassName('preview_area')[0]
  var preview = document.getElementsByClassName('preview')[0]
  var comment_submit = document.getElementById('comment_submit')
  var comment_length = document.getElementsByClassName('comment_length')[0]
  var comment_update_btn = document.getElementsByClassName('comment_update_btn')
  var comment_edit_parent_modal = document.getElementsByClassName('comment_edit_parent_modal')

  comment_submit.setAttribute('disabled', 'disabled')
  comment_area.addEventListener('input', ()=>{
    preview_area.innerHTML = marked(comment_area.value)
    comment_length.textContent = comment_area.value.length
    if (comment_area.value.length > 0) {
      comment_submit.removeAttribute('disabled')
    } else {
      comment_submit.setAttribute('disabled', 'disabled')
    }
  })

  preview.addEventListener('click', ()=>{
    var icon = preview.children[0]
    icon.classList.toggle('fa-eye-slash')
    icon.classList.toggle('fa-eye')
    comment_form.classList.toggle('hide')
    preview_area.classList.toggle('hide')
  })

  for (var i = 0; i < comment_update_btn.length; i++) {
    var update_btn = comment_update_btn.item(i)
    update_btn.addEventListener('click', (e)=>{
      var target = e.target
      var target_data_id  = target.getAttribute('data-id')
      for (var i = 0; i < comment_edit_parent_modal.length; i++) {
        var parent_modal = comment_edit_parent_modal.item(i)
        var parent_modal_data_id = parent_modal.getAttribute('data-id')
        if (target_data_id === parent_modal_data_id) {
          parent_modal.classList.add('show')
          break
        }
      }
    })
  }

  for (var i = 0; i < comment_edit_parent_modal.length; i++) {
    var parent_modal = comment_edit_parent_modal.item(i)
    parent_modal.addEventListener('click', (e)=>{
      var target = e.target
      if (target.classList.contains('show')) {
        target.classList.remove('show')
      }
    })
  }
