- @page_title = params[:category]
%main.article_list
  .article_list_header
    .container.tag_container
      %span.page_label= "#{params[:category]}に関するお気に入りの記事を発見しよう！"
      %h2.page_title= params[:category]
  .article_list_box
    .container.tag_container
      .container_inner
        .left_box
          %h3.side_bar_heading よく使われるタグ
          - if Public.tag_ranking.length > 0
            .tag_ranking
              - Public.tag_ranking(10).keys.each_with_index do |tag_name, idx|
                = link_to tags_path(tag_name), class: "tag_link" do
                  .rank{class: "rank#{idx + 1}"}= "#{idx + 1}."
                  .tag_name= tag_name
          - else
            .article_not_found
              %h3.article_not_found_head 公開されている記事がありません。
              %p.article_not_found_message 多く使われているタグはここに表示されます。
        .right_box
          %h3.contents_heading 新着記事
          .inner
            = render "share/card", publics: @publics
