- if flash[:post_notice]
  #notification.notice.notification
    = flash[:post_notice]
%main.posts_wrapper
  .login_user
    .user
      = image_tag gravatar_image(@user), size: 50
      %span= @user.name
    .accompany
      .follow
        = link_to user_follows_list_path(@user) do
          フォロー
          %span.count= @user.active_follows.count
      .follower
        = link_to user_followers_list_path(@user) do
          フォロワー
          %span.count= @user.passive_follows.count
  = render "share/card", posts: @posts
%button.write_post
  = link_to new_post_path do
    .line
