%main.home_wrapper
  .home_contents
    .home_contents_left
      .box
        .login_user_wrapper
          - if user_signed_in?
            = image_tag gravatar_image(current_user), size: 35, class: "user_image"
            %b.username= current_user.name
            .user_token= "@#{current_user.uuid}"
            .user_status_info
              %a.link.follow_link{href: "#{user_follows_list_path(current_user.uuid)}"}
                .follow Follow
                .count= current_user.followings.length
              %a.link.follower_link{href: "#{user_followers_list_path(current_user.uuid)}"}
                .follower Follower
                .count= current_user.followers.length
          - else
            .user_image
              %i.far.fa-user.guest_image
            %b.username ゲスト
            .user_token= "@guestuser"
            .user_status_info
              %a.link.follow_link.registration_link
                .follow Follow
                .count= 0
              %a.link.follower_link.registration_link
                .follower Follower
                .count= 0
      .box
        .side_bar
          - if user_signed_in?
            %a.side_bar_link{href: "#{user_path(current_user)}"} ダッシュボード
            %a.side_bar_link{href: "#"} 高く評価した記事
            %a.side_bar_link{href: "#"} 閲覧履歴
          - else
            %a.side_bar_link.registration_link ダッシュボード
            %a.side_bar_link.registration_link 高く評価した記事
            %a.side_bar_link.registration_link 閲覧履歴
    .home_contents_center
      - unless user_signed_in?
        .box
          .recommend_registration
            %h2.recommend_registration_heading 学びをアウトプットしよう
            %p.recommend_registration_message Launchは学び続けるITエンジニアのための技術ブログです
            .authenticate_user
              %button.authenticate_user_registration
                = link_to "会員登録する", new_user_registration_path, class: "authenticate_user_registration_link"
              %span.or OR
              %button.authenticate_user_login
                = link_to "ログイン", new_user_session_path, class: "authenticate_user_login_link"
      .box
        %h2.trend_article_heading
          %span.sharp #
          今日のトレンド
        .article_list_wrapper
          - @publics.each do |public|
            .article
              = link_to public_path(public.article_token), class: "link large_link" do
                = image_tag gravatar_image(public.user), size: 40, class: "author_image"
                .flex_item
                  %p.article_title= public.title
                  .tags
                    - public.category.split(',').each do |tag|
                      %span.tag_name= tag
                  .list_bottom
                    .list_bottom_left
                      %span.author_name= "by #{public.user.name}"
                      .thumbs_up
                        %i.far.fa-thumbs-up
                        %span.count 123
                    %span.created_at= public.created_at.strftime("%Y-%m-%d")
      .box
        %h2.interest_tag_article_heading
          %span.sharp #
          注目のタグ
        - Public.tag_ranking.each do |tag_name, article_count|
          .tag_name_list
            %h3.interest_tag_name= tag_name
            .article_card_wrapper
              - Public.get_article_include_tag(tag_name).each do |public|
                .article
                  = link_to public_path(public.article_token), class: "link" do
                    .article_link_top
                      = image_tag gravatar_image(public.user), size: 40, class: "author_image"
                      %span.author_name= public.user.name
                    .article_link_contents
                      %p.article_title= public.title.truncate(35)
                    .link_bottom
                      .thumbs_up
                        %i.far.fa-thumbs-up
                        %span.count 123
                      %span.created_at= public.created_at.strftime("%Y-%m-%d")
      .box
        %h2.latest_article_heading
          %span.sharp #
          最近投稿された記事
        .article_list_wrapper
          - @publics.each do |public|
            .article
              = link_to public_path(public.article_token), class: "link large_link" do
                = image_tag gravatar_image(public.user), size: 40, class: "author_image"
                .flex_item
                  %p.article_title= public.title
                  .tags
                    - public.category.split(',').each do |tag|
                      %span.tag_name= tag
                  .list_bottom
                    .list_bottom_left
                      %span.author_name= "by #{public.user.name}"
                    %span.created_at= public.created_at.strftime("%Y-%m-%d")
        = link_to "もっとみる", publics_path, class: "more_latest_article_link"
:javascript
  const registration_links = document.getElementsByClassName('registration_link')
  for (let i = 0; i < registration_links.length; i++) {
    const registration_link = registration_links.item(i)
    registration_link.addEventListener('click', ()=>{
      window.location = '/users/sign_up'
    })
  }
