<% if flash[:post_notice] %>
  <div class="post_notice" id="notification">
    <%= flash[:post_notice] %>
  </div>
<% end %>

<div class="posts-home-wrapper">
  <div class="container">
    <aside class="page-left">
      <div class="account-wrapper">
        <h1>ユーザー</h1>
        <div class="account">
          <% if @user %>
            <%= image_tag gravatar_image(@user), size: 80 %>
            <div class="current-user-name">
              <%= link_to @user.name, user_posts_path(@user), data: { "turbolinks" => false } %>
            </div>
            <table class="follow">
              <tr>
                <th>
                  <%= link_to "投稿した数", user_myposts_path(@user), data: { "turbolinks" => false } %>
                </th>
                <th>
                  <%= link_to "フォロー", user_myfollows_path(@user), data: { "turbolinks" => false } %>
                </th>
                <th>
                  <%= link_to "フォロワー", user_myfollowers_path(@user), data: { "turbolinks" => false } %>
                </th>
              </tr>
              <tr>
                <td>
                  <%= @user.posts.status_public.count %>
                </td>
                <td>
                  <%= @user.followings.count %>
                </td>
                <td>
                  <%= @user.followers.count %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
      <div class="posts-rank-wrapper">
        <div class="period">
          <h3>アクセスランキング</h3>
          <div class="select-period">
            <% if params[:period] %>
              <%= link_to "Day", "?period=today", data: { "turbolinks" => false } %>
            <% else %>
              <%= link_to "Day", "?period=today", data: { "turbolinks" => false }, class: "select" %>
            <% end %>
            <%= link_to "Week", "?period=week", data: { "turbolinks" => false } %>
            <%= link_to "Month", "?period=month", data: { "turbolinks" => false } %>
          </div>
        </div>
        <% if @posts.present? %>
        <div class="posts-list">
          <% @posts.each do |post| %>
          <div class="post">
            <div class="post-title">
              <h2>
                <%= link_to post.title, post_path(post), data: { "turbolinks": false } %>
              </h2>
              <div class="post-bottom">
                <div class="left">
                  <span class="heart">
                    <% if current_user && post.likes.find_by(user_id: current_user.id) %>
                      <i class="fas fa-heart"></i>
                    <% else %>
                      <i class="far fa-heart"></i>
                    <% end %>
                    <%= post.likes.count %>
                  </span>
                  ･
                  <span>
                    Created by
                    <%= post.user.name %>
                  </span>
                </div>
                <p>
                  <%= post.created_at.strftime("%Y.%m.%d") %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% else %>
          <p class="noposts">
            期間内に投稿された記事はありません。
          </p>
        <% end %>
      </div>
    </aside>
    <div class="page-right">
      <% if @user %>
        <div class="followings-posts-wrapper">
          <div class="followings">
            <h3>新着記事</h3>
          </div>
          <%= render "share/list", objs: @following_posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>
