- @page_title = "ダッシュボード"
.user-info-wrapper
  .container
    .user_info
      .user_info_top
        = image_tag gravatar_image(@user), size: 70
        %h2.name= @user.name
        %p.uuid<>
          ID：
          = @user.uuid
        %hr
      .user_info_bottom
        .more_info
          .info_name 投稿数
          %p.count= @user.posts.count
        .more_info
          = link_to user_follows_list_path(@user) do
            .info_name フォロー
            %p.count= @user.active_follows.count
        .more_info
          = link_to user_followers_list_path(@user) do
            .info_name フォロワー
            %p.count= @user.passive_follows.count

.posts-info-wrapper
  .container
    .posts-controll-header
      %h2
        あなたの記事一覧
    .myposts-list
      = form_tag user_path(current_user), method: :get, name: "search_form", remote: true, class: 'search mypost_search' do
        = label_tag do
          = text_field_tag "pq", params[:pq], id: "field", class: "search_field", placeholder: "記事タイトルで検索"
        = button_tag id: "go_search" do
          %i.fas.fa-search
      #table_wrapper.table_wrapper
        = render "share/card", posts: @posts

:javascript
  var go_search = document.getElementById('go_search')
  var search_field = document.getElementsByClassName('search_field')[0]

  search_field.addEventListener('input', ()=>{
    go_search.click()
  })
