<% @page_title = "ダッシュボード" %>
<div class="user-info-wrapper">
  <div class="container">
    <h2>
      ユーザー情報
    </h2>
    <div class="user-profile-wrapper">
      <div class="user-info">
        <div class="user-profile-img">
          <%= image_tag "/images/users/#{current_user.image_name}", size: 70 %>
          <p><%= @user.name %></p>
        </div>
      </div>
      <div class="user-info">
        <div class="user-profile-posts">
          <div class="posted-count">
            <%= @user.posts.status_public.count %>
          </div>
          <div class="posted-text">投稿した記事数</div>
        </div>
      </div>
      <div class="user-info">
        <div class="user-profile-likes">
          <div class="posted-count">
            <%= @count %>
          </div>
          <div class="posted-text">総アクセス数</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="posts-info-wrapper">
  <div class="container">
    <div class="posts-controll-header">
      <h2>
        記事の管理
      </h2>
      <%= form_tag user_path(current_user), method: :get do %>
        <%= label_tag do %>
          <i class="fas fa-search"></i>
          <%= search_field_tag "q", params[:q], placeholder: "記事を検索" %>
          <%= submit_tag "検索" %>
        <% end %>
      <% end %>
    </div>
    <table>
      <tr>
        <th class="title">記事のタイトル・概要</th>
        <th class="status">状態</th>
        <th class="created_at">作成日</th>
        <th class="updated_at">更新日</th>
        <th class="edit">操作</th>
      </tr>
      <% if @posts.present? %>
        <% @posts.each do |post| %>
        <tr>
          <td class="title">
            <h3><%= link_to post.title, post_path(post), data: { "turbolinks" => false } %></h3>
            <p><%= truncate(post.content, length: 80) %></p>
          </td>
          <td class="status">
            <%= post.status %>
          </td>
          <td class="created_at">
            <%= post.created_at.strftime("%Y.%m.%d") %>
          </td>
          <td class="updated_at">
            <%= post.updated_at.strftime("%Y.%m.%d") %>
          </td>
          <td class="edit">
            <%= link_to "編集", edit_post_path(post), data: { "turbolinks" => false } %>
            ・
            <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？一度、記事を削除すると元に戻せなくなります。"} %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="nopost">記事はありません</td>
        </tr>
      <% end %>
    </table>
    <div class="paginate">
      <%= link_to_prev_page @posts, "前のページへ", class: "prev-page", data: { "turbolinks" => false } %>
      <%= link_to_next_page @posts, "次のページへ", class: "next-page", data: { "turbolinks" => false } %>
    </div>
  </div>
</div>

<div class="posts-like-wrapper">
  <div class="container">
    <% if @liked_posts.present? %>
    <div class="posts-controll-header">
      <h2>
        いいねした記事
      </h2>
      <div class="more-posts">
        <%= link_to likes_path, data: { "turbolinks" => false } do %>
          いいねした記事一覧へ
          <i class="fas fa-angle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="post-like">
      <% @liked_posts.each do |post| %>
      <div class="post">
        <%= image_tag "/images/users/#{post.user.image_name}", size: 50 %>
        <div class="post-title">
          <div class="post-top">
            <h2>
              <%= link_to post.title, post_path(post), data: { "turbolinks": false } %>
            </h2>
            <p><%= truncate post.content, length: 120 %></p>
          </div>
          <div class="post-bottom">
            <div class="left">
              <span class="heart">
                <% if current_user && post.likes.find_by(user_id: current_user.id) %>
                  <i class="fas fa-heart"></i>
                <% else %>
                  <i class="far fa-heart"></i>
                <% end %>
                <%= post.likes.count %>
              </span>
              ･
              <span>
                Created by
                <%= post.user.name %>
              </span>
            </div>
            <p>
              <%= post.created_at.strftime("%Y.%m.%d") %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
