- @page_title = "ダッシュボード"
.user-info-wrapper
  .container
    %h2
      ユーザー情報
    .user-profile-wrapper
      .user-info
        .user-profile-img
          = image_tag gravatar_image(@user), size: 70
          %p= @user.name
      .user-info
        .user-profile-posts
          .posted-count
            = @user.posts.status_public.count
          .posted-text 投稿した記事数
      .user-info
        .user-profile-likes
          .posted-count
            = @count
          .posted-text 総アクセス数
.posts-info-wrapper
  .container
    .posts-controll-header
      %h2
        記事の管理
    .myposts-list
      = form_tag user_path(current_user), method: :get, name: "search_form", remote: true, class: 'search mypost_search' do
        = label_tag do
          = text_field_tag "pq", params[:pq], id: "field", class: "search_field"
          .placeholder 記事タイトルで検索
        = button_tag id: "go_search" do
          %i.fas.fa-search
      #table_wrapper
        = render "share/card", posts: @posts
    .paginate
      = link_to_prev_page @posts, "前のページへ", class: "prev-page"
      = link_to_next_page @posts, "次のページへ", class: "next-page"
.posts-like-wrapper
  .container
    - if @liked_posts.present?
      .posts-controll-header
        %h2
          いいねした記事
      = render "share/card", posts: @liked_posts
      .more-posts
        = link_to likes_path do
          %span いいねした記事一覧へ

:javascript
  var go_search = document.getElementById('go_search')
  var search_field = document.getElementsByClassName('search_field')[0]

  search_field.addEventListener('input', ()=>{
    go_search.click()
  })
