- @page_title = "ダッシュボード"
.user-info-wrapper
  .container
    .user_info
      .user_info_top
        = image_tag gravatar_image(@user), size: 70
        %h2.name= @user.name
        %p.uuid<>
          ID：
          = @user.uuid
        %hr
      .user_info_bottom
        .more_info
          .info_name 投稿数
          %p.count= @user.publics.count
        .more_info
          = link_to user_follows_list_path(@user) do
            .info_name フォロー
            %p.count= @user.active_follows.count
        .more_info
          = link_to user_followers_list_path(@user) do
            .info_name フォロワー
            %p.count= @user.passive_follows.count

.posts-info-wrapper
  .container
    .posts-controll-header
      %h2
        投稿した記事
    .myposts-list
      = form_tag user_path(current_user), method: :get, name: "search_form", remote: true, class: 'search mypost_search' do
        = label_tag do
          = text_field_tag "pq", params[:pq], id: "field", class: "search_field", placeholder: "記事タイトルで検索"
        = button_tag id: "go_search" do
          %i.fas.fa-search
      #table_wrapper.table_wrapper
        = render "share/card", publics: @publics
    .article_wrapper
      %h2
        編集中(未投稿)の記事
      .article_list_wrapper
        - @drafts.each do |draft|
          .article
            = link_to edit_draft_path(draft.article_token), class: "link large_link" do
              = image_tag gravatar_image(draft.user), size: 40, class: "author_image"
              .flex_item
                %p.article_title= draft.title
                .tags
                  - draft.category.split(',').each do |tag|
                    %span.tag_name= tag
                .list_bottom
                  .list_bottom_left
                    %span.author_name= "by #{draft.user.name}"
                  %span.created_at= draft.created_at.strftime("%Y-%m-%d")

      - if @drafts && @drafts.total_pages > 1
        .paginate
          = link_to_prev_page @drafts, "", class: "prev-page"
          - unless @drafts.out_of_range?
            .now_page= "#{@drafts.current_page}/#{@drafts.total_pages}"
          = link_to_next_page @drafts, "", class: "next-page"


:javascript
  var go_search = document.getElementById('go_search')
  var search_field = document.getElementsByClassName('search_field')[0]

  search_field.addEventListener('input', ()=>{
    go_search.click()
  })
