%main.home_wrapper
  .home_contents
    .home_contents_center
      - unless user_signed_in?
        .box
          .recommend_registration
            %h2.recommend_registration_heading アウトプットを始めよう！
            %p.recommend_registration_message Launchは学び続けるITエンジニアのための技術ブログです
            .authenticate_user
              %button.authenticate_user_registration
                = link_to "会員登録する", "#", class: "authenticate_user_registration_link registration_link"
              %p.login
                すでにアカウントをお持ちですか？
                = link_to "ログイン", new_user_session_path, class: "login_link"
      = render "share/select"
      .box
        %h2.trend_article_heading.heading_2
          %span
            %span#period トレンド
          %span
            .select_period_btn_wrapper
              %span.select_period Select:
              = link_to "Today", root_path, class: "period_btn", data: {date: '今日'}
              = link_to "Week", "?period=week", class: "period_btn", data: {date: '今週'}
              = link_to "Month", "?period=month", class: "period_btn", data: {date: '今月'}
        - if @trend_articles.length > 0
          = render "share/card", publics: @trend_articles
        - else
          .article_not_found
            %h3.article_not_found_head 公開されている記事がありません。
            %p.article_not_found_message アクセスが多い記事はここに表示されます。
      .box
        %h2.latest_article_heading.heading_2
          最近投稿された記事
        - if @publics.length > 0
          = render "share/card", publics: @publics
          = link_to "もっとみる", publics_path, class: "more_latest_article_link"
        - else
          .article_not_found
            %h3.article_not_found_head 公開されている記事がありません。
            %p.article_not_found_message 最近投稿された記事はここに表示されます。
    .home_contents_right
      %h2.heading_2 タグ・ランキング
      = render "share/tag_ranking"
:javascript
  const period_btns = document.getElementsByClassName('period_btn')
  const period = document.getElementById('period')

  for (let i = 0; i < period_btns.length; i++) {
    const period_btn = period_btns.item(i)
    period_btn.classList.remove('show')
    if (period_btn.getAttribute('href') === window.location.search) {
      period_btn.classList.add('show')
      break
    }

    if (window.location.search === "") {
      period_btns[0].classList.add('show')
    }
  }
