%main.home_wrapper
  .home_contents
    .home_contents_center
      = render "share/select"
      .box
        %h2.trend_article_heading.heading_2
          %span
            %span#period トレンド
          %span
            .select_period_btn_wrapper
              = link_to "Today", root_path, class: "period_btn", data: {date: '今日'}
              = link_to "Week", "?period=week", class: "period_btn", data: {date: '今週'}
              = link_to "Month", "?period=month", class: "period_btn", data: {date: '今月'}
        - if @trends.length > 0
          .inner.article_list_wrapper
            - @trends.each do |trend|
              .article
                = link_to entry_path(trend), class: "link large_link" do
                  .flex_item
                    .list_left
                      = image_tag avatar(trend.user), size: 50, class: 'author_image'
                    .list_right
                      .list_top
                        %p.article_title= trend.title
                        - trend.tags.each do |tag|
                          %span.tags= tag
                      .list_bottom
                        .list_bottom_left
                          %span.author_name= "by #{trend.user.name}"
                        .list_bottom_right
                          .heart
                            %i.far.fa-heart
                            %span.count= trend.likes.sum(:count)
                          %span.created_at= trend.created_at.strftime("%Y-%m-%d")
      .box
        %h2.latest_article_heading.heading_2
          最近投稿された記事
        - if @entries.length > 0
          .inner.article_list_wrapper
            - @entries.each do |entry|
              .article
                = link_to entry_path(entry), class: "link large_link" do
                  .flex_item
                    .list_left
                      = image_tag avatar(entry.user), size: 50, class: 'author_image'
                    .list_right
                      .list_top
                        %p.article_title= entry.title
                        - entry.tags.each do |tag|
                          %span.tags= tag
                      .list_bottom
                        .list_bottom_left
                          %span.author_name= "by #{entry.user.name}"
                        .list_bottom_right
                          .heart
                            %i.far.fa-heart
                            %span.count= entry.likes.sum(:count)
                          %span.created_at= entry.created_at.strftime("%Y-%m-%d")
          = link_to "もっとみる", entries_path, class: "more_latest_article_link"
    .home_contents_right
      .home_contents_right__box
        - if user_signed_in?
          .user-info
            .user-info__user-account
              = image_tag avatar(current_user), size: 90, class: "user-info__user-image"
              .user-info__user-name= current_user.name
              .user-info__user-id= "@#{current_user.id}"
            .user-info__user-status-box
              .user-info__user-status
                = link_to follows_list_path(current_user), class: "user-info__user-status-link" do
                  .user-info__user-status-label Follow
                  %p.user-info__user-status-count= current_user.active_follows.count
              .user-info__user-status
                = link_to followers_list_path(current_user), class: "user-info__user-status-link" do
                  .user-info__user-status-label Follower
                  %p.user-info__user-status-count= current_user.passive_follows.count
        - else
          .user-regist
            %h2.user-regist__title Hello, World!
            %p.user-regist__message Launchはプログラマーのアプトプットを助ける技術ブログです。
            .user-regist__link-wrapper
              = link_to "会員登録する", new_user_registration_path, class: "user-regist__new-link"
              %p.user-regist__session
                すでにアカウントをお持ちですか?
                %br
                = link_to "ログイン", new_user_session_path, class: "user-regist__session-link"
      .home_contents_right__box
        %h2.heading_2 タグ・ランキング
        = render "share/tag_ranking"
:javascript
  const period_btns = document.getElementsByClassName('period_btn')
  const period = document.getElementById('period')

  for (let i = 0; i < period_btns.length; i++) {
    const period_btn = period_btns.item(i)
    period_btn.classList.remove('show')
    if (period_btn.getAttribute('href') === window.location.search) {
      period_btn.classList.add('show')
      break
    }

    if (window.location.search === "") {
      period_btns[0].classList.add('show')
    }
  }
