<div class="posts-home-wrapper">
  <div class="container">
    <aside class="page-left">
      <div class="account-wrapper">
        <h1>ユーザー</h1>
        <div class="account">
          <% if user_signed_in? %>
            <%= image_tag "/images/users/#{current_user.image_name}", size: 120 %>
            <div class="current-user-name">
              <%= current_user.name %>
            </div>
            <table class="follow">
              <tr>
                <th>
                  <%= link_to "投稿した数", user_myposts_path(current_user), data: { "turbolinks" => false } %>
                </th>
                <th>
                  <%= link_to "フォロー", user_myfollows_path(current_user), data: { "turbolinks" => false } %>
                </th>
                <th>
                  <%= link_to "フォロワー", user_myfollowers_path(current_user), data: { "turbolinks" => false } %>
                </th>
              </tr>
              <tr>
                <td>
                  <%= current_user.posts.count %>
                </td>
                <td>
                  <%= current_user.followings.count %>
                </td>
                <td>
                  <%= current_user.followers.count %>
                </td>
              </tr>
            </table>
            <% if followings = current_user.followings %>
              <div class="follows-lists-wrapper">
                <h3>
                  フォロー中のユーザー
                  (<%= followings.count %>人)
                </h3>
                <div class="follows-lists">
                <% followings.limit(12).each do |following| %>
                  <div class="list">
                    <%= image_tag "/images/users/#{following.image_name}", size: 50 %><br>
                    <span><%= following.name %></span>
                  </div>
                <% end %>
                </div>
                <%= link_to "すべて表示", user_myfollows_path(current_user), data: { "turbolinks" => false } %>
              </div>
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "login" %>
            <%= link_to "アカウント作成", new_user_registration_path, class: "signup" %>
          <% end %>
        </div>
      </div>
    </aside>
    <div class="page-right">
      <div class="posts-rank-wrapper">
        <div class="period">
          <h3>アクセスランキング</h3>
          <div class="select-period">
            <%= link_to "Day", "?period=today", data: { "turbolinks" => false } %>
            <%= link_to "Week", "?period=week", data: { "turbolinks" => false } %>
            <%= link_to "Month", "?period=month", data: { "turbolinks" => false } %>
          </div>
        </div>
        <div class="posts-list">
          <% @posts.each do |post| %>
          <div class="post">
            <%= image_tag "/images/users/#{post.user.image_name}", size: 50 %>
            <div class="post-title">
              <h2>
                <%= link_to post.title, post_path(post), data: { "turbolinks": false } %>
              </h2>
              <div class="post-bottom">
                <span class="heart">
                  <% if current_user && post.likes.find_by(user_id: current_user.id) %>
                    <i class="fas fa-heart"></i>
                  <% else %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <%= post.likes.count %>
                </span>
                ･
                <span>
                  Created by
                  <%= post.user.name %>
                </span>
                <p>
                  <%= post.created_at.strftime("%Y.%m.%d") %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="followings-posts-wrapper">
          <% if followings = current_user.followings.shuffle %>
            <div class="followings">
              <h3>フォロー中のユーザーの記事</h3>
            </div>
            <% followings[0..2].each do |following| %>
              <div class="following-user-image">
                <%= image_tag "/images/users/#{following.image_name}", size: 50 %>
                <div class="following-info">
                  <b><%= following.name %></b>
                  <table class="follow">
                    <tr>
                      <th>
                        <%= link_to "投稿した数", user_myposts_path(following), data: { "turbolinks" => false } %>
                      </th>
                      <th>
                        <%= link_to "フォロー", user_myfollows_path(following), data: { "turbolinks" => false } %>
                      </th>
                      <th>
                        <%= link_to "フォロワー", user_myfollowers_path(following), data: { "turbolinks" => false } %>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <%= following.posts.count %>
                      </td>
                      <td>
                        <%= following.followings.count %>
                      </td>
                      <td>
                        <%= following.followers.count %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="posts-list">
              <% posts = following.posts.order(created_at: :desc).limit(5) %>
              <% posts.each do |post| %>
                <div class="post">
                  <div class="post-title">
                    <h2>
                      <%= link_to post.title, post_path(post), data: { "turbolinks": false } %>
                    </h2>
                    <div class="post-bottom">
                      <span class="heart">
                        <% if current_user && post.likes.find_by(user_id: current_user.id) %>
                          <i class="fas fa-heart"></i>
                        <% else %>
                          <i class="far fa-heart"></i>
                        <% end %>
                        <%= post.likes.count %>
                      </span>
                      ･
                      <span>
                        Created by
                        <%= post.user.name %>
                      </span>
                      <p>
                        <%= post.created_at.strftime("%Y.%m.%d") %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
