<div class="posts-home-wrapper">
  <div class="container">
    <aside class="page-right">
      <div class="account-wrapper">
        <h3>ユーザー</h3>
        <div class="account">
          <%= image_tag "/images/users/#{current_user.image_name}", size: 120 %>
          <div class="current-user-name">
            <%= current_user.name %>
          </div>
          <table>
            <tr>
              <th>フォロワー</th>
              <th>投稿した数</th>
            </tr>
            <tr>
              <td>123</td>
              <td>
                <%= current_user.posts.count %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </aside>
    <div class="posts-rank-wrapper">
      <div class="period">
        <h1>アクセスランキング</h1>
        <div class="select-period">
          <%= link_to "Day", "?period=today", data: { "turbolinks" => false } %>
          <%= link_to "Week", "?period=week", data: { "turbolinks" => false } %>
          <%= link_to "Month", "?period=month", data: { "turbolinks" => false } %>
        </div>
      </div>
      <div class="posts-list">
        <% @posts.each do |post| %>
        <div class="post">
          <%= image_tag "/images/users/default_user_image.png", size: 50 %>
          <div class="post-title">
            <h2>
              <%= link_to post.title, post_path(post), data: { "turbolinks": false } %>
            </h2>
            <div class="post-bottom">
              <span>
                <% if current_user && post.likes.find_by(user_id: current_user.id) %>
                  <i class="fas fa-heart"></i>
                <% else %>
                  <i class="far fa-heart"></i>
                <% end %>
                <%= post.likes.count %>
              </span>
              <p>
                <%= post.created_at.strftime("%Y.%m.%d") %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
