- @page_title = "リクエスト一覧"
%main.request_list
  .request_list_header
    .container
      %span.page_label Request List
      %h2.page_title リクエスト一覧
  .request_list_box
    .container
      - if @requests.length > 0
        .request_card_wrapper
          - @requests.each do |request|
            .request_card
              = link_to request_path(request.token), class: "card_inner" do
                .card_inner_top
                  %h3.title= request.category
                  - if request.content.length > 0
                    %p.content= request.content.truncate(200)
                .card_inner_bottom
                  .card_inner_bottom_left
                    = image_tag gravatar_image(request.user), size: 20
                    %span.request_user= "by #{request.user.name}"
                  .card_inner_bottom_right
                    %span.created_at= request.created_at.strftime('%Y-%m-%d')
        - if @requests && @requests.total_pages > 1
          .paginate
            = link_to_prev_page @requests, "", class: "prev-page"
            - unless @requests.out_of_range?
              .now_page= "#{@requests.current_page}/#{@requests.total_pages}"
            = link_to_next_page @requests, "", class: "next-page"
      - else
        .article_not_found
          %h3.article_not_found_head リクエストがありません。
          %p.article_not_found_message 探している記事が見つからない場合、リクエストすることができます。
