- @page_title = "リクエスト詳細"
%main.request_detail
  .main
    .container
      .request_detail_box
        .request_header
          .request_header_inner
            = image_tag gravatar_image(@request.user), size: 20
            %span.request_user= "by #{@request.user.name}"
          .request_header_inner
            %span.created_at= "投稿日：#{@request.created_at.strftime('%Y-%m-%d')}"
        .request_inner
          %h2.request_theme= @request.category
        .request_inner
          %p.description= simple_format @request.content
      %button.writing
        =link_to "リクエストに答える", new_draft_path, class: "writing_btn"
