<div class="follows-wrapper">
  <div class="container">
    <h3>フォロワー</h3>
    <% if @followers.present? %>
      <div class="follows-lists-wrapper">
        <div class="follows-lists">
        <% @followers.each do |follower| %>
          <div class="list">
            <%= link_to user_posts_path(follower), data: {  "turbolinks" => false } do %>
              <div class="list-card">
                <%= image_tag "/images/users/#{follower.image_name}", size: 50 %><br>
                <span><%= follower.name %></span>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="paginate">
        <%= link_to_prev_page @followers, "前のページへ", class: "prev-page", data: { "turbolinks" => false } %>
        <%= link_to_next_page @followers, "次のページへ", class: "next-page", data: { "turbolinks" => false } %>
      </div>
    <% else %>
      <p>フォロワーが見つかりませんでした。</p>
      <%= link_to "戻る", :back %>
    <% end %>
  </div>
</div>
