<% @page_title = "フォロー一覧" %>
<div class="follows-wrapper">
  <div class="container">
    <h3>フォロー中</h3>
    <% if @followings.present? %>
    <div class="posts-list">
    <% @followings.each do |following| %>
      <div class="post">
        <%= image_tag "/images/users/#{following.image_name}", size: 50 %>
        <div class="post-title">
          <div class="post-top">
            <h2>
              <%= link_to following.name, user_posts_path(following), data: { "turbolinks": false } %>
            </h2>
          </div>
        </div>
        <% if user_signed_in? %>
        <% unless current_user.id === following.id %>
          <% if current_user.is_following?(following) %>
            <%= link_to user_follow_path(following, current_user), class: "follow-btn", method: :delete do %>
              フォロー中
            <% end %>
          <% else %>
            <%= link_to user_follows_path(following), class: "follow-btn", method: :post do %>
              フォローする
            <% end %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
      <div class="paginate">
        <%= link_to_prev_page @followings, "前のページへ", class: "prev-page", data: { "turbolinks" => false } %>
        <%= link_to_next_page @followings, "次のページへ", class: "next-page", data: { "turbolinks" => false } %>
      </div>
    <% else %>
      <div class="notfind">
        <p>フォロー中のユーザーが見つかりませんでした。</p>
        <%= link_to "戻る", :back, class: "back", data: { "tubolinks" => false } %>
      </div>
    <% end %>
  </div>
</div>
