-if comments.present?
  .comments.comment_list_wrapper
    %h3
      コメント
      %span.comment_count= comments.count
    - comments.each do |comment|
      .comment
        .comment_user
          .user_info
            = image_tag gravatar_image(comment.user), size: 60
            %span.name= comment.user.name
            %span.created_at= comment.created_at.strftime("%Y-%m-%d")
          - if user_signed_in? && comment.user_id === current_user.id
            = link_to "/comment/#{comment.id}/", method: :delete, data: { confirm: "コメントを削除します。"} do
              %i.far.fa-trash-alt
        .comment_content
          != markdown comment.content

.comment_form_wrapper
  .comment_form_header
    %h3 コメントする
    .preview
      %i.far.fa-eye
  .comment-edit
    = form_for @comment, url: "/comment/#{@post.id}", html: { id: "comment_form", class: "comment_form" }, remote: true do |f|
      = f.text_area :content, id: "comment_area", placeholder: "Markdownで入力"
    .preview_area.hide
  .comment_form_bottom
    %p.comment_length_wrapper<>
      入力数
      %span.comment_length 0
    %button.comment_submit#comment_submit{type: "submit", form: "comment_form"}
      送信
