<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "記事のタイトルを入力..." %>
  <div class="tab-bar">
    <div id="bold">bold</div>
  </div>
  <%= f.text_area :content, placeholder: "Markdownで内容を書く" %>
  <%= f.submit "記事を公開する" %>
<% end %>

<% @posts.each do |post| %>
  <% if post.content %>
    <div class="md-wrapper">
      <p>Title：<%= post.title %></p>
      <%== markdown(post.content) %>
      <%= link_to "削除する", "/posts/#{post.id}", method: :delete %>
    </div>
  <% end %>
<% end %>
