<% @page_title = @post.title %>
<% if errors = @comment.errors.full_messages %>
  <% errors.each do |error| %>
    <div class="nocomment">
    <i class="fas fa-times" id="cls-btn"></i>
      <%= error %>
    </div>
  <% end %>
<% end %>
<div class="post-wrapper">
  <div class="container">
  <main>
    <% if current_user && @post.likes.find_by(user_id: current_user.id) %>
      <%= link_to post_like_path(@post, current_user.id), method: :delete, data: { "turbolinks" => false } do %>
        <i class="fas fa-heart"></i>
        <%= @likes_count %>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(@post), method: :post, data: { "turbolinks" => false } do %>
      <i class="far fa-heart"></i>
      <%= @likes_count %>
      <% end %>
    <% end %>
    <h1 class="main-title"><%= @post.title %></h1>
    <span class="created_at">
      Created by <%= @post.user.name %>
      at <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %>
    </span>
    <% if @post.app_url.present? %>
      <div class="app-url">
        <p>開発アプリURL：</p>
        <%= link_to @post.app_url do %>
          <%= @post.app_url %>
        <% end %>
      </div>
    <% end %>
    <div class="content">
      <%== markdown @post.content %>
    </div>
    <div class="comment-wrapper">
      <div class="post-comments">
        <% if @post.comments.present? %>
          <h3>この記事のコメント</h3>
          <% @post.comments.each do |comment| %>
          <div class="user-comment-wrapper">
            <%= image_tag "/images/users/#{comment.user.image_name}", size: 60 %>
            <div class="comment">
              <div class="md-comment">
                <%== markdown comment.content %>
              </div>
              <div class="comment-bottom">
                <div class="comment-user">
                by <%= comment.user.name %>
                ・
                <%= comment.created_at.strftime("%Y.%H.%d %H:%M") %>
                </div>
                <% if user_signed_in? && comment.user_id === current_user.id %>
                  <div class="comment-delete">
                    <%= link_to "削除", "/comment/#{comment.id}/", method: :delete, data: { confirm: "コメントを削除します。"} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <h3>コメントする</h3>
      <div class="comment-field">
        <ul class="toggle-field">
          <li id="edit" style="border-bottom: 3px solid #009688; color: #009688;">編集</li>
          <li id="preview">プレビュー</li>
        </ul>
        <div class="comment-edit">
          <%= form_for @comment, url: "/comment/#{@post.id}" do |f| %>
            <%= f.text_area :content, id: "md-comment", placeholder: "コメントを入力してください", style: "display: block;" %>
            <div class="comment-md-preview" id="comment-preview" style="display: none;">
            </div>
            <input type="submit" value="投稿">
          <% end %>
        </div>
      </div>
    </div>
  </main>
  <aside>
    <div class="author">
      <h3>この記事のクリエイター</h3>
      <%= image_tag "/images/users/#{@post.user.image_name}", size: 120 %>
      <div class="author-name">
        <%= link_to @post.user.name, user_posts_path(@post.user), data: {  "turbolinks" => false } %>
      </div>
      <table class="follow">
        <tr>
          <th>
            <%= link_to "投稿した数", user_myposts_path(@post.user), data: { "turbolinks" => false } %>
          </th>
          <th>
            <%= link_to "フォロー", user_myfollows_path(@post.user), data: { "turbolinks" => false } %>
          </th>
          <th>
            <%= link_to "フォロワー", user_myfollowers_path(@post.user), data: { "turbolinks" => false } %>
          </th>
        </tr>
        <tr>
          <td><%= @post.user.posts.status_public.count %></td>
          <td><%= @post.user.followings.count %></td>
          <td><%= @post.user.followers.count %></td>
        </tr>
      </table>
        <% if signed_in? %>
        <% unless current_user.id == @post.user.id %>
          <% if current_user.is_following?(@post.user) %>
            <%= link_to user_follow_path(@post.user, current_user), class: "follow-btn", method: :delete do %>
              フォロー中
            <% end %>
          <% else %>
            <%= link_to user_follows_path(@post.user.id), class: "follow-btn", method: :post do %>
              フォローする
            <% end %>
          <% end %>
          <% p current_user.is_following?(@post.user) %>
        <% end %>
        <% end %>
    </div>
  </aside>
  </div>
</div>
<script>
  var edit = document.getElementById('edit');
  var preview = document.getElementById('preview')
  var md_comment = document.getElementById('md-comment');
  var comment_preview = document.getElementById('comment-preview');

  SwitchField(edit, preview, md_comment, comment_preview);
  SwitchField(preview, edit, comment_preview, md_comment);

  function SwitchField(btn1, btn2, elem1, elem2) {
    btn1.addEventListener('click', function() {
      btn1.style.borderBottom = "3px solid #009688";
      btn2.style.border = 'none';
      btn1.style.color = "#009688";
      btn2.style.color = "inherit";
      elem1.style.display = 'block';
      elem2.style.display = 'none';
    });
  }

  md_comment.addEventListener('keyup', function() {
    comment_preview.innerHTML = marked(md_comment.value);
  })
</script>
