- @page_title = @post.title
- if errors = @comment.errors.full_messages
  - errors.each do |error|
    .nocomment
      %i#cls-btn.fas.fa-times
      = error
.post-wrapper
  .container
    %main
      %h1.main-title= @post.title
      .created_at
        Created by #{@post.user.name}
        \#{@post.created_at.strftime("%Y.%m.%d")}
      .content
        != markdown @post.content
      .comment-wrapper
        #comment
          = render "comment", comments: @post.comments
        - if user_signed_in?
          .comment-field
            %h3 コメントする
            %ul.toggle-field
              %li#edit{:style => "border-bottom: 3px solid #009688; color: #009688;"} 編集
              %li#preview プレビュー
            .comment-edit
              = form_for @comment, url: "/comment/#{@post.id}", remote: true do |f|
                = f.text_area :content, id: "md-comment", placeholder: "コメントを入力してください", style: "display: block;"
                #comment-preview.comment-md-preview{:style => "display: none;"}
                %input#comment-submit{:type => "submit", :value => "投稿"}/
      .icon
        .like
          %span#heart
            = render "post", post: @post
        .comment
          %p= @post.comments.count
          = link_to "#comment" do
            %i.material-icons comment
        - if @post.app_url.present?
          .app-url
            %p LINK
            = link_to @post.app_url, target: :_blank do
              %i.material-icons link
    %aside
      .author
        %h3 この記事のクリエイター
        = image_tag gravatar_image(@author), size: 120
        .author-name
          = link_to @author.name, user_posts_path(@author), data: {  "turbolinks" => false }
        #follow
          = render "follows/follow", other: @author
:javascript
  var edit = document.getElementById('edit');
  var preview = document.getElementById('preview')
  var md_comment = document.getElementById('md-comment');
  var comment_preview = document.getElementById('comment-preview');

  SwitchField(edit, preview, md_comment, comment_preview);
  SwitchField(preview, edit, comment_preview, md_comment);

  function SwitchField(btn1, btn2, elem1, elem2) {
    btn1.addEventListener('click', function() {
      btn1.style.borderBottom = "3px solid #009688";
      btn2.style.border = 'none';
      btn1.style.color = "#009688";
      btn2.style.color = "inherit";
      elem1.style.display = 'block';
      elem2.style.display = 'none';
    });
  }

  md_comment.addEventListener('keyup', function() {
    comment_preview.innerHTML = marked(md_comment.value);
  })
