<div class="post-wrapper clear">
  <div class="container">
  <main>
    <% if current_user && @post.likes.find_by(user_id: current_user.id) %>
      <%= link_to post_like_path(@post, current_user.id), method: :delete, data: { "turbolinks" => false } do %>
        <i class="fas fa-heart"></i>
        <%= @likes_count %>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(@post), method: :post, data: { "turbolinks" => false } do %>
      <i class="far fa-heart"></i>
      <%= @likes_count %>
      <% end %>
    <% end %>
    <h1 class="main-title"><%= @post.title %></h1>
    <span class="created_at">
      Created by <%= @post.user.name %>
      at <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %>
    </span>
    <div class="content">
      <%== markdown @post.content %>
    </div>
    <div class="comment-wrapper">
      <div class="post-comments">
        <% if @post.comments.present? %>
          <h3>この記事のコメント</h3>
          <% @post.comments.each do |comment| %>
          <div class="user-comment-wrapper">
            <%= image_tag "/images/users/#{@post.user.image_name}", size: 60 %>
            <div class="comment">
              <div class="md-comment">
                <%== markdown comment.content %>
              </div>
              <div class="comment-bottom">
                <div class="left">
                by <%= comment.user.name %>
                ・
                <%= comment.created_at.strftime("%Y.%H.%d %H:%M") %>
                </div>
                <% if comment.user_id == current_user.id %>
                  <div class="right">
                    <%= link_to "削除", "/comment/#{comment.id}/", method: :delete, data: { confirm: "コメントを削除します。"} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <h3>コメントする</h3>
      <div class="comment-field">
        <ul>
          <li id="edit" style="border-bottom: 3px solid #009688; color: #009688;">編集</li>
          <li id="preview">プレビュー</li>
        </ul>
        <div class="comment-edit">
          <%= form_for @comment, url: "/comment/#{@post.id}" do |f| %>
            <%= f.text_area :content, id: "md-comment", placeholder: "コメントを入力してください", style: "display: block;" %>
            <div class="comment-md-preview" id="comment-preview" style="display: none;">
            </div>
            <input type="submit" value="投稿">
          <% end %>
        </div>
      </div>
    </div>
  </main>
  <aside>
    <div class="author">
      <h3>この記事のクリエイター</h3>
      <%= image_tag "/images/users/#{@post.user.image_name}", size: 120 %>
      <div class="author-name">
        <%= @post.user.name %>
      </div>
      <table>
        <tr>
          <th>フォロワー</th>
          <th>投稿した数</th>
        </tr>
        <tr>
          <td>123</td>
          <td><%= @post.user.posts.count %></td>
        </tr>
      </table>
        <%= link_to "#", class: "follow" do %>
          フォローする
        <% end %>
    </div>
  </aside>
  </div>
</div>
<script>
  var edit = document.getElementById('edit');
  var preview = document.getElementById('preview')
  var md_comment = document.getElementById('md-comment');
  var comment_preview = document.getElementById('comment-preview');

  SwitchField(edit, preview, md_comment, comment_preview);
  SwitchField(preview, edit, comment_preview, md_comment);

  function SwitchField(btn1, btn2, elem1, elem2) {
    btn1.addEventListener('click', function() {
      btn1.style.borderBottom = "3px solid #009688";
      btn2.style.border = 'none';
      btn1.style.color = "#009688";
      btn2.style.color = "inherit";
      elem1.style.display = 'block';
      elem2.style.display = 'none';
    });
  }

  md_comment.addEventListener('keyup', function() {
    comment_preview.innerHTML = marked(md_comment.value);
  })
</script>
