- @page_title = @post.title
- if errors = @comment.errors.full_messages
  - errors.each do |error|
    .nocomment
      %i#cls-btn.fas.fa-times
      = error
%main
  .post_index
    .post_info_wrapper
      .post_info
        = image_tag gravatar_image(@post.user), size: 50
        %span= @post.user.name
        .created_at= @post.created_at.strftime("%Y-%m-%d")
      %button.follow_btn{data: {id: @post.user.id}}= render "follows/follow", user: @post.user
    %h2.main_title= @post.title
    .user_action
      %button.heart#heart
        = render "post", post: @post
      - if @post.app_url.present?
        %button.github
          = link_to @post.app_url, target: :_blank do
            %i.fab.fa-github
      - else
        %button.github.no_url
          %i.fab.fa-github
      %button.share#share_btn
        %i.fas.fa-share-alt
  .content
    != markdown @post.content

  .comment_wrapper
    #comment
      = render "comment", comments: @post.comments
    - if user_signed_in?
      .parent_modal
      .child_modal
        .comment-edit
          = form_for @comment, url: "/comment/#{@post.id}", html: { id: "comment_form", class: "comment_form" } do |f|
            = f.text_area :content, id: "comment_area", placeholder: "コメントを入力"
          .preview_area.hide
          .btn_wrapper
            %button#comment_submit{type: "submit", form: "comment_form"}
              コメントを送信
            .preview
              %i.far.fa-eye-slash
      %button.show_comment_form_btn
        %i.far.fa-comment
:javascript
  var comment_form = document.getElementById('comment_form')
  var comment_area = document.getElementById('comment_area')
  var preview_area = document.getElementsByClassName('preview_area')[0]
  var preview = document.getElementsByClassName('preview')[0]
  var child_modal = document.getElementsByClassName('child_modal')[0]
  var parent_modal = document.getElementsByClassName('parent_modal')[0]
  var show_comment_form_btn = document.getElementsByClassName('show_comment_form_btn')[0]
  var comment_submit = document.getElementById('comment_submit')

  show_comment_form_btn.addEventListener('click', ()=>{
    child_modal.classList.add('show')
    parent_modal.classList.add('show')
  })

  parent_modal.addEventListener('click', ()=>{
    child_modal.classList.remove('show')
    parent_modal.classList.remove('show')
  })

  comment_submit.setAttribute('disabled', 'disabled')
  comment_area.addEventListener('keyup', ()=>{
    preview_area.innerHTML = marked(comment_area.value)
    if (comment_area.value.length > 0) {
      comment_submit.removeAttribute('disabled')
    } else {
      comment_submit.setAttribute('disabled', 'disabled')
    }
  })

  preview.addEventListener('click', ()=>{
    var icon = preview.children[0]
    icon.classList.toggle('fa-eye-slash')
    icon.classList.toggle('fa-eye')
    comment_form.classList.toggle('hide')
    preview_area.classList.toggle('hide')
  })

  // ssl通信を利用した場合に有効
  if (navigator.share) {
    const share_btn = document.getElementById('share_btn')
    share_btn.classList.add('support')
    share_btn.addEventListener('click', ()=>{
      navigator.share({
        url  : location.href,
        title: document.title,
        text : '',
      })
    })
  }
