<% @page_title = @post.title %>
<% if errors = @comment.errors.full_messages %>
  <% errors.each do |error| %>
    <div class="nocomment">
    <i class="fas fa-times" id="cls-btn"></i>
      <%= error %>
    </div>
  <% end %>
<% end %>
<div class="post-wrapper">
  <div class="container">
  <main>
    <h1 class="main-title"><%= @post.title %></h1>
    <div class="created_at">
      Created by <%= @post.user.name %>
      <%= @post.created_at.strftime("%Y.%m.%d") %>
    </div>
    <div class="content">
      <%== markdown @post.content %>
    </div>
    <div class="comment-wrapper">
      <div id="comment">
        <%= render "comment", comments: @post.comments %>
      </div>
      <% if user_signed_in? %>
      <div class="comment-field">
        <h3>コメントする</h3>
        <ul class="toggle-field">
          <li id="edit" style="border-bottom: 3px solid #009688; color: #009688;">編集</li>
          <li id="preview">プレビュー</li>
        </ul>
        <div class="comment-edit">
          <%= form_for @comment, url: "/comment/#{@post.id}", remote: true do |f| %>
            <%= f.text_area :content, id: "md-comment", placeholder: "コメントを入力してください", style: "display: block;" %>
            <div class="comment-md-preview" id="comment-preview" style="display: none;">
            </div>
            <input type="submit" value="投稿" id="comment-submit">
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="icon">
      <div class="like">
        <span id="heart">
          <%= render "post", post: @post %>
        </span>
      </div>
      <div class="comment">
        <p><%= @post.comments.count %></p>
        <%= link_to "#comment" do %>
          <i class="material-icons">comment</i>
        <% end %>
      </div>
      <% if @post.app_url.present? %>
        <div class="app-url">
          <p>LINK</p>
          <%= link_to @post.app_url, target: :_blank do %>
            <i class="material-icons">link</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
  <aside>
    <div class="author">
      <h3>この記事のクリエイター</h3>
      <%= image_tag gravatar_image(@author), size: 120 %>
      <div class="author-name">
        <%= link_to @author.name, user_posts_path(@author), data: {  "turbolinks" => false } %>
      </div>
      <div id="follow">
        <%= render "follows/follow", other: @author %>
      </div>
    </div>
  </aside>
  </div>
</div>
<script>
  var edit = document.getElementById('edit');
  var preview = document.getElementById('preview')
  var md_comment = document.getElementById('md-comment');
  var comment_preview = document.getElementById('comment-preview');

  SwitchField(edit, preview, md_comment, comment_preview);
  SwitchField(preview, edit, comment_preview, md_comment);

  function SwitchField(btn1, btn2, elem1, elem2) {
    btn1.addEventListener('click', function() {
      btn1.style.borderBottom = "3px solid #009688";
      btn2.style.border = 'none';
      btn1.style.color = "#009688";
      btn2.style.color = "inherit";
      elem1.style.display = 'block';
      elem2.style.display = 'none';
    });
  }

  md_comment.addEventListener('keyup', function() {
    comment_preview.innerHTML = marked(md_comment.value);
  })
</script>
