<!DOCTYPE html>
<html>
  <head>
    <title>TestMd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '/editor/lib/codemirror.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/theme/neat.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/highlight/github.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/editor/marked/marked.min.js' %>
    <%= javascript_include_tag '/editor/highlight/highlight.pack.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
