!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "Launchはプログラマーのためのブログサービスです。あなたが開発したアプリケーションに関する記事を書くことで、ユーザーからフィードバックをもらうことができます。", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')
    = favicon_link_tag('apple-touch-icon.png', {:rel => 'apple-touch-icon-precomposed'})
    = favicon_link_tag('apple-touch-icon.png', {:rel => 'apple-touch-icon-precomposed', :sizes => '76x76', :type => 'image/png'})
    = favicon_link_tag('apple-touch-icon.png',
      {:rel => 'apple-touch-icon-precomposed',
      :sizes => '120x120',
      :type => 'image/png'})
    = favicon_link_tag('apple-touch-icon.png', {:rel => 'apple-touch-icon-precomposed', :sizes => '152x152', :type => 'image/png'})
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.1/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu+Mono&display=swap", rel: "stylesheet"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"}
    = stylesheet_link_tag '/editor/highlight/atom-one-dark.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/editor/marked/marked.min.js'
    = javascript_include_tag '/editor/highlight/highlight.pack.js'
  %body
    = render 'share/header'
    .registration_modal_parent
    .registration_modal_child
      %h2.registration_heading アカウントを作成
      .form-wrapper
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "modal_new_user" }) do |f|
          .field
            = f.text_field :name, placeholder: "ユーザー名", required: true, maxlength:"15", id: "modal_user_name"
          .field
            = f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", required: true, id: "modal_user_email"
          .field
            = f.password_field :password, placeholder: "パスワード", autocomplete: "new-password", required: true, id: "modal_user_password"
          %p.term
            登録が完了すると#{link_to "利用規約", terms_path, target: :_blank}に同意したものとみなします。
          .actions
            = f.submit "登録", id: "modal_submit"
        %p.separate
        .sns_login
          = link_to user_twitter_omniauth_authorize_path, method: :post, class: "twitter" do
            %i.fab.fa-twitter
            %p Twitterで登録
        = render "devise/shared/links"
    = yield
    = render 'share/footer'
    = render "share/menu"

    :javascript
      var hamburger = document.getElementById('hamburger');
      var menu = document.getElementById('menu');
      var menu_parent = document.getElementsByClassName('hamburger-menu-list-parent')[0];
      var cls_btn = document.getElementById('cls-btn');
      var notice = document.getElementById('notice');
      var alert = document.getElementById('alert');
      const registration_modal_parent = document.getElementsByClassName('registration_modal_parent')[0];
      const registration_links = document.getElementsByClassName('registration_link');

      (function() {
        hamburger.addEventListener('click', ()=>{
          hamburger.classList.toggle('active')
          menu.classList.toggle('show')
          menu_parent.classList.toggle('show')
          document.body.classList.toggle('hidden')
        })
      })();

      (function() {
        menu_parent.addEventListener('click', ()=>{
          hamburger.classList.toggle('active')
          menu.classList.toggle('show')
          menu_parent.classList.toggle('show')
          document.body.classList.toggle('hidden')
        })
      })();

      if (notice || alert) {
        close(cls_btn, notice);
        close(cls_btn, alert);
      }

      function close(cls_btn, cls_obj) {
        cls_btn.addEventListener('click', function() {
          cls_obj.style.display = 'none';
        });
      }

      for (let i = 0; i < registration_links.length; i++) {
        const registration_link = registration_links.item(i)
        registration_link.addEventListener('click', ()=>{
          registration_modal_parent.classList.add('show')
          registration_modal_parent.nextElementSibling.classList.add('show')
        })
      }

      document.body.addEventListener('ajax:error', (e)=>{
        const xhr = e.detail[2]
        if (xhr.status === 401) {
          registration_modal_parent.classList.add('show')
          registration_modal_parent.nextElementSibling.classList.add('show')
        }
      })

      registration_modal_parent.addEventListener('click', ()=>{
        console.log('hello')
        registration_modal_parent.classList.remove('show')
        registration_modal_parent.nextElementSibling.classList.remove('show')
      })
