!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Launchはプログラマーのためのブログサービスです。あなたが開発したアプリケーションに関する記事を書くことで、ユーザーからフィードバックをもらうことができます。", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.1/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu+Mono&display=swap", rel: "stylesheet"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    = stylesheet_link_tag '/editor/highlight/atom-one-dark.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/editor/marked/marked.min.js'
    = javascript_include_tag '/editor/highlight/highlight.pack.js'
  %body{:ontouchstart => ""}
    = render "editor_header"
    = yield
    :javascript
      const editor_show_btn = document.getElementsByClassName('editor_show')[0]
      const devide_show_btn = document.getElementsByClassName('devide_show')[0]
      const preview_show_btn = document.getElementsByClassName('preview_show')[0]
      const editor = document.getElementsByClassName('editor_form_wrapper')[0]
      const preview = document.getElementsByClassName('editor_preview')[0]

      const editor_show = () => {
        preview.classList.add('hidden')
        editor.classList.remove('hidden')
        editor_show_btn.classList.add('active')
        devide_show_btn.classList.remove('active')
        preview_show_btn.classList.remove('active')
      }

      const devide_show = () => {
        editor.classList.remove('hidden')
        preview.classList.remove('hidden')
        editor_show_btn.classList.remove('active')
        devide_show_btn.classList.add('active')
        preview_show_btn.classList.remove('active')
      }

      const preview_show = () => {
        editor.classList.add('hidden')
        preview.classList.remove('hidden')
        editor_show_btn.classList.remove('active')
        devide_show_btn.classList.remove('active')
        preview_show_btn.classList.add('active')
      }

      switch (window.location.hash) {
        case '#editor':
          editor_show()
          break
        case '#devide':
          devide_show()
          break
        case '#preview':
          preview_show()
          break
        default:
          break
      }

      editor_show_btn.addEventListener('click', ()=>{
        editor_show()
        history.replaceState(null, null, "#editor")
      })
      devide_show_btn.addEventListener('click', ()=>{
        devide_show()
        history.replaceState(null, null, "#devide")
      })
      preview_show_btn.addEventListener('click', ()=>{
        preview_show()
        history.replaceState(null, null, "#preview")
      })
