<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Launchはプログラマーのためのブログサービスです。あなたが開発したアプリケーションに関する記事を書くことで、ユーザーからフィードバックをもらうことができます。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon-precomposed'}) %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon-precomposed',
                      :sizes => '76x76',
                      :type => 'image/png'}) %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon-precomposed',
                      :sizes => '120x120',
                      :type => 'image/png'}) %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon-precomposed',
                      :sizes => '152x152',
                      :type => 'image/png'}) %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag '/editor/lib/codemirror.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/theme/neat.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/highlight/atom-one-dark.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/editor/marked/marked.min.js' %>
    <%= javascript_include_tag '/editor/highlight/highlight.pack.js' %>

  </head>

  <body ontouchstart="">
    <%= render "share/editor_header" %>
    <% if @errors.present? %>
      <div class="editor-errors" id="errors">
        <i class="material-icons clear" id="cls-btn">clear</i>
        <h3>
          保存に失敗しました
        </h3>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>

    <%= javascript_include_tag '/editor/lib/codemirror.js' %>
    <%= javascript_include_tag '/editor/mode/markdown/markdown.js' %>
    <%= javascript_include_tag '/editor/addon/display/placeholder.js' %>
    <%= javascript_include_tag '/editor/addon/selection/active-line.js' %>
    <%= javascript_include_tag '/editor/addon/selection/mark-selection.js' %>
    <%= javascript_include_tag '/editor/javascript/editor.js' %>
    <script type="text/javascript">
      var cls_btn = document.getElementById('cls-btn');
      var cls_obj = document.getElementById('errors');
      cls_btn.addEventListener('click', function() {
        cls_obj.style.display = 'none';
      });
    </script>
  </body>
</html>
