<!DOCTYPE html>
<html>
  <head>
    <title>Lounch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "share/head" %>
  </head>

  <body>
    <%= render "share/header/editor" %>
    <% if @errors.present? %>
      <div class="editor-errors" id="errors">
        <i class="fas fa-times" id="cls-btn"></i>
        <h3>
          保存に失敗しました
        </h3>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>

    <%= javascript_include_tag '/editor/lib/codemirror.js' %>
    <%= javascript_include_tag '/editor/mode/markdown/markdown.js' %>
    <%= javascript_include_tag '/editor/addon/display/placeholder.js' %>
    <%= javascript_include_tag '/editor/addon/selection/active-line.js' %>
    <%= javascript_include_tag '/editor/addon/selection/mark-selection.js' %>
    <%= javascript_include_tag '/editor/javascript/editor.js' %>
    <script type="text/javascript">
      var cls_btn = document.getElementById('cls-btn');
      var cls_obj = document.getElementById('errors');
      cls_btn.addEventListener('click', function() {
        cls_obj.style.display = 'none';
      });
    </script>
  </body>
</html>
