<!DOCTYPE html>
<html>
  <head>
    <title>Lounch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "share/head" %>
  </head>

  <body>
    <%= render "share/header/editor" %>
    <%= yield %>

    <%= render "share/editor_js" %>
  </body>
</html>
