<!DOCTYPE html>
<html>
  <head>
    <title>Launch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag '/editor/lib/codemirror.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/theme/neat.css', media: 'all' %>
    <%= stylesheet_link_tag '/editor/highlight/atom-one-dark.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/editor/marked/marked.min.js' %>
    <%= javascript_include_tag '/editor/highlight/highlight.pack.js' %>

  </head>

  <body>
    <%= render "share/editor_header" %>
    <% if @errors.present? %>
      <div class="editor-errors" id="errors">
        <i class="fas fa-times" id="cls-btn"></i>
        <h3>
          保存に失敗しました
        </h3>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>

    <%= javascript_include_tag '/editor/lib/codemirror.js' %>
    <%= javascript_include_tag '/editor/mode/markdown/markdown.js' %>
    <%= javascript_include_tag '/editor/addon/display/placeholder.js' %>
    <%= javascript_include_tag '/editor/addon/selection/active-line.js' %>
    <%= javascript_include_tag '/editor/addon/selection/mark-selection.js' %>
    <%= javascript_include_tag '/editor/javascript/editor.js' %>
    <script type="text/javascript">
      var cls_btn = document.getElementById('cls-btn');
      var cls_obj = document.getElementById('errors');
      cls_btn.addEventListener('click', function() {
        cls_obj.style.display = 'none';
      });
    </script>
  </body>
</html>
