<!DOCTYPE html>
<html>
  <head>
    <title>Lounch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "share/head.html.erb" %>
  </head>

  <body>
    <%= render 'share/header/editor' %>
    <%= yield %>
  </body>
</html>
