<!DOCTYPE html>
<html>
  <head>
    <title>Lounch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "share/head" %>
  </head>

  <body>
    <%= render "share/header/editor" %>
    <%= yield %>

    <%= javascript_include_tag '/editor/lib/codemirror.js' %>
    <%= javascript_include_tag '/editor/mode/markdown/markdown.js' %>
    <%= javascript_include_tag '/editor/addon/display/placeholder.js' %>
    <%= javascript_include_tag '/editor/addon/selection/active-line.js' %>
    <%= javascript_include_tag '/editor/addon/selection/mark-selection.js' %>
    <%= javascript_include_tag '/editor/javascript/editor.js' %>
  </body>
</html>
